{% extends 'base.html' %}
{% block content %}
   <form id = "index" action = 'aftercheckin' method = 'POST'>
    {% csrf_token %}
           <center> Check-In <br>
            <input type="number" step="0.01" name = "checkin" placeholder = ""
            value="" required="required"><br>
            Date<br>
            <input type = "date" name = "date" required = "required" >
             <br><br>
            <input id = "login" type="submit" value="Check-In" class="btn btn-primary btn-lg"><br>
            {{status}}</center>
{% endblock %}
