{% extends 'base.html' %}
{% load static %}
{% block content %}

   <center> <h2>Man Power Investment </h2>
    <table id = "table_1" class = "table table-striped">
        <!-- <thead class="table-info"> -->
        <tr>
            <th scope="col">Log No</th>
            <th scope="col">Month</th>
            <th scope="col">Year</th>
            <th scope="col">Investment</th>
        </tr>
        {% for man in manpower_log %}
        <tr>
            <td scope="row">{{ man.id }}</td>
            <td>{{ man.month }}</td>
            <td>{{ man.year }}</td>
            <td>Rs. {{ man.investment}}</td>
        </tr>
        {% endfor %}
    </table>    </div></center>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static '/lisenme.js' %}"></script>
<script>
jQuery('#table_1').ddTableFilter();
</script>
{% endblock %}
